/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2014, 11:25:36
    Author     : fabio
*/

.psy {
    width: 20px;
    height: 30px;
    background-image: url('../img/psy.png');
    background-repeat:no-repeat;
}

#psy1 {
    background-position: 0px 0px;
}

#psy1.ui-draggable-dragging { border: 2px solid green; }


.ui-droppable-active { background-color: green; }
.ui-droppable-hover { background-color: red; }

#psy2 {
    background-position: 0px -30px;
}

#psy3 {
    background-position: 0px -62px;
}

#psy4 {
    background-position: 0px -92px;
}